<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/root-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Agregar</title>
</head>
<body>
    
    <div class="row">
        <h1>Ingresa un nuevo Empleado</h1>
        <br>
        <form action="" class="col s12" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <label for="cod_usuario">Codigo:</label>
                    <input type="text" readonly name="cod_usuario" id="cod_usuario" class="validate">
                </div>
                <div class="input-field col s12">
                    <label for="nombres">Nombres:</label>
                    <input type="text" readonly name="nombres" id="nombres" class="validate">
                </div>
                
                <div class="input-field col s12">
                    <label for="apellidos">Apellidos:</label>
                    <input type="text" name="apellidos" id="apellidos"  class="validate">
                </div>
    
                <div class="input-field col s12">
                    <label for="telefono">Telefono:</label>
                    <input type="text" name="telefono" id="telefono" class="validate">
                </div>
    
                <div class="input-field col s12">
                    <label for="dui">DUI:</label>
                    <input type="text" name="dui" id="dui" class="validate">
                </div>

                <div class="input-field col s12">
                    <label for="email">Correo:</label>
                    <input type="text" name="email" id="email" class="validate">
                </div>

                <div class="input-field col s12">
                    <label for="cod_empresa">Codigo de Empresa:</label>
                    <input type="text" name="cod_empresa" id="cod_empresa" class="validate">
                </div>


                <div>
                    <input type="submit" value="Registrar Empleado" onclick="insertEmpleado()" class="waves-effect waves-light btn" id="add-empleado">
                </div>
            </div>
        </form>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/materialize.js"></script>
</body>
</html>