<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../../../js/materialize.js"></script> -->
    
    <title>Agregar</title>
</head>
<body>
    
    <div class="row" style="padding: 30px;">
        <h1 style="text-align: center;">Ingresa un nuevo Empleado</h1>
        <br>
        <form action="" class="col s12" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <label for="nombres">Nombres:</label>
                    <input type="text" name="nombres" id="nombres" class="validate">
                </div>
                
                <div class="input-field col s12">
                    <label for="apellidos">Apellidos:</label>
                    <input type="text" name="apellidos" id="apellidos"  class="validate">
                </div>
    
                <div class="input-field col s12">
                    <label for="telefono">Telefono:</label>
                    <input type="text" name="telefono" id="telefono" class="validate">
                </div>
    
                <div class="input-field col s12">
                    <label for="dui">DUI:</label>
                    <input type="text" name="dui" id="dui" class="validate">
                </div>

                <div class="input-field col s12">
                    <label for="email">Correo:</label>
                    <input type="text" name="correo" id="correo" class="validate">
                </div>

                <div class="input-field col s12">
                    <label for="password">Contraseña:</label>
                    <input type="text" name="password" id="password" class="validate">
                </div>
                
                <input type="hidden" name="cod_empresa" id="cod_empresa" class="validate" value="ELC542">
                <input type="hidden" name="cod_rol" id="cod_rol" class="validate" value="EMP">

                <div>
                    <input type="submit"  id="add-empleado" class="waves-effect waves-light btn" value="Registrar Empleado">
                </div>
            </div>
        </form>
    </div>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../../../js/materialize.js"></script>
    <script src="../../../js/empleados.js"></script>
</body>
</html>