<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/root-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Modificar</title>
</head>
<body>
    <div class="row">
        <h1>Modifica los datos del Empleado</h1>
        <form action="" class="col s12" method="POST">

            <div class="row">
                <div class="input-field col s12">
                    <label for="id">Codigo de Empleado:</label>
                    <input type="text" readonly name="id" id="id" class="validate">
                </div>
                
                <div class="input-field col s12">
                    <label for="id">Nombres:</label>
                    <input type="text" readonly name="id" id="id" class="validate">
                </div>
                
                <div class="input-field col s12">
                    <label for="name">Apellidos:</label>
                    <input type="text" name="name" id="name"  class="validate">
                </div>
    
                <div class="input-field col s12">
                    <label for="telegono">Telefono:</label>
                    <input type="text" name="telegono" id="telegono" class="validate">
                </div>
    
                <div class="input-field col s12">
                    <label for="dui">DUI:</label>
                    <input type="text" name="dui" id="dui" class="validate">
                </div>

                <div class="input-field col s12">
                    <label for="email">Correo:</label>
                    <input type="text" name="email" id="email" class="validate">
                </div>

                <div class="input-field col s12">
                    <label for="cod_empresa">Codigo de Empresa:</label>
                    <input type="text" name="cod_empresa" id="cod_empresa" class="validate">
                </div>
    
                
                
                    <input type="submit" value="Modificar Empleado" class="waves-effect waves-light btn">
            </div>
        </form>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/materialize.js"></script>
</body>
</html>