h2 {
    font-family: var(--title-font);
    color: #FFF;
    margin: 30px;
    text-align: center;
}

img {
    position: fixed;
    width: 700px;
    height: auto;
    margin: 15px 50%;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    width: 100%;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
}

.form-container {
    margin: 0 !important;
    display: flex;
    background-color: var(--marian-blue);
    position: fixed;
    z-index: 4;
    flex-direction: column;
    width: 45%;
    height: 100%;
}

form {
    position: relative;
    z-index: 5;
}


div {
    margin: 30px;
}

.error {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    width: 80%;
    margin: 10px auto !important;
}
.error p {
    list-style: none;
    background-color: var(--blue-green);
    width: 100%;
    color: #FFF;
    border-radius: 5px;
    height: fit-content;
    padding: 20px 5px ;
    text-align: center;
    margin: 5px auto ;
    font-family: var(--text-font);
    font-weight: var(--subtitle-weight);
}
/* 
.error p:first-of-type {
    border-radius: 5px 5px 0 0 ;
}

.error p:last-of-type {
    border-radius: 0 0 5px 5px ;
} */

.row{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.third-row{
    display: flex;
    flex-direction: column;
    margin: 15px auto;
}

.third-row *{
    margin: auto;
}

p {
    color: #FFF;
    font-family: var(--text-font);
    margin: 15px 50px;
}
