<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/root-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Ofertas</title>
</head>
<body style="padding: 30px;">
    <h1 style="text-align: center;">Ofertas</h1>
    <br>
        <h3>Espera de aprobación</h3>
        <a href="AgregarOferta.html" class="waves-effect waves-light btn" id="agregar">Agregar Oferta</a>
        <table class="striped" id="myTable">
            <thead>
                <th>Codigo:</th>
                <th>Titulo:</th>
                <th>Precio Regular:</th>
                <th>Precio Oferta:</th>
                <th>Inicio de Oferta:</th>
                <th>Fin de Oferta:</th>
                <th>Fecha Limite del Cupon:</th>
                <th>Cantidad:</th>
                <th>Descripcion:</th>
                <th>Estado:</th>
                <th>Codigo de Empresa:</th>
            </thead>

            <tbody>
                <script>
                    
                </script>
            </tbody>
        </table>
    </div>

    <div>
        <h3>Aprobadas futuras</h3>
        <a href="AgregarOferta.html" class="waves-effect waves-light btn" id="agregar">Agregar Oferta</a>
        <table class="striped" id="myTable">
            <thead>
                <th>Codigo:</th>
                <th>Titulo:</th>
                <th>Precio Regular:</th>
                <th>Precio Oferta:</th>
                <th>Inicio de Oferta:</th>
                <th>Fin de Oferta:</th>
                <th>Limite del Cupon:</th>
                <th>Cantidad:</th>
                <th>Descripcion:</th>
                <th>Estado:</th>
                <th>Codigo de Empresa:</th>
            </thead>

            <tbody>
                <script></script>
            </tbody>
        </table>
    </div>

    <div>
        <h3>Activas</h3>
        <a href="AgregarOferta.html" class="waves-effect waves-light btn" id="agregar">Agregar Oferta</a>
        <table class="striped" id="myTable">
            <thead>
                <th>Codigo:</th>
                <th>Titulo:</th>
                <th>Precio Regular:</th>
                <th>Precio Oferta:</th>
                <th>Inicio de Oferta:</th>
                <th>Fin de Oferta:</th>
                <th>Limite del Cupon:</th>
                <th>Cantidad:</th>
                <th>Descripcion:</th>
                <th>Estado:</th>
                <th>Codigo de Empresa:</th>
            </thead>

            <tbody>
               <script></script>
            </tbody>
        </table>
    </div>

    <div>
        <h3>Pasadas</h3>
        <a href="AgregarOferta.html" class="waves-effect waves-light btn" id="agregar">Agregar Oferta</a>
        <table class="striped" id="myTable">
            <thead>
                <th>Codigo:</th>
                <th>Titulo:</th>
                <th>Precio Regular:</th>
                <th>Precio Oferta:</th>
                <th>Inicio de Oferta:</th>
                <th>Fin de Oferta:</th>
                <th>Limite del Cupon:</th>
                <th>Cantidad:</th>
                <th>Descripcion:</th>
                <th>Estado:</th>
                <th>Codigo de Empresa:</th>
            </thead>

            <tbody>
                <script></script>
            </tbody>
        </table>
    </div>

    <div>
        <h3>Rechazadas</h3>
        <a href="AgregarOferta.html" class="waves-effect waves-light btn" id="agregar">Agregar Oferta</a>
        <table class="striped" id="myTable">
            <thead>
                <th>Codigo:</th>
                <th>Titulo:</th>
                <th>Precio Regular:</th>
                <th>Precio Oferta:</th>
                <th>Inicio de Oferta:</th>
                <th>Fin de Oferta:</th>
                <th>Limite del Cupon:</th>
                <th>Cantidad:</th>
                <th>Descripcion:</th>
                <th>Estado:</th>
                <th>Codigo de Empresa:</th>
            </thead>

            <tbody>
                <script></script>
            </tbody>
        </table>
    </div>

    <div>
        <h3>Descartadas</h3>
        <a href="AgregarOferta.html" class="waves-effect waves-light btn" id="agregar">Agregar Oferta</a>
        <table class="striped" id="myTable">
            <thead>
                <th>Codigo:</th>
                <th>Titulo:</th>
                <th>Precio Regular:</th>
                <th>Precio Oferta:</th>
                <th>Inicio de Oferta:</th>
                <th>Fin de Oferta:</th>
                <th>Limite del Cupon:</th>
                <th>Cantidad:</th>
                <th>Descripcion:</th>
                <th>Estado:</th>
                <th>Codigo de Empresa:</th>
            </thead>

            <tbody>
                <script></script>
            </tbody>
        </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/materialize.js"></script>
    
</body>
</html>