<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../../../js/ofertas.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/root-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Ofertas</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="Ofertas.html">Ofertas</a></li>
            <li><a href="../GestionEmpleados/Empleados.html">Empleados</a></li>
            <li><a href="">Cerrar Sesion</a></li>
          </ul>
        </div>
      </nav>
    <h1 style="text-align: center;">Ofertas</h1>
    <br>
    <a href="AgregarOferta.html" class="waves-effect waves-light btn" id="agregar">Agregar Oferta</a>
        <h3 style="padding: 30px;">Espera de aprobación</h3>

        <table class="striped" id="myTable">
            <thead>
                
                <th>Titulo:</th>
                <th>Precio Regular:</th>
                <th>Precio Oferta:</th>
                <th>Inicio de Oferta:</th>
                <th>Fin de Oferta:</th>
                <th>Fecha Limite del Cupon:</th>
                <th>Cantidad:</th>
                <th>Descripcion:</th>
                <th>Estado:</th>
                <th>Codigo de Empresa:</th>
            </thead>

            <tbody>
                <script>
                    printEsperaAprobacion ();
                </script>
            </tbody>
        </table>
    </div>
    <br>
    <hr>
    <div>
        <h3 style="padding: 30px;">Aprobadas futuras</h3>
        
        <table class="striped" id="myTable2">
            <thead>
                
                <th>Titulo:</th>
                <th>Precio Regular:</th>
                <th>Precio Oferta:</th>
                <th>Inicio de Oferta:</th>
                <th>Fin de Oferta:</th>
                <th>Limite del Cupon:</th>
                <th>Cantidad:</th>
                <th>Descripcion:</th>
                <th>Estado:</th>
                <th>Codigo de Empresa:</th>
            </thead>

            <tbody>
                <script>
                    printFuturaAprobacion ()
                </script>
            </tbody>
        </table>
    </div>
    <br>
    <hr>
    <div>
        <h3 style="padding: 30px;">Activas</h3>
        
        <table class="striped" id="myTable3">
            <thead>
                
                <th>Titulo:</th>
                <th>Precio Regular:</th>
                <th>Precio Oferta:</th>
                <th>Inicio de Oferta:</th>
                <th>Fin de Oferta:</th>
                <th>Limite del Cupon:</th>
                <th>Cantidad:</th>
                <th>Descripcion:</th>
                <th>Estado:</th>
                <th>Codigo de Empresa:</th>
            </thead>

            <tbody>
               <script>
                printOfertaActiva();
               </script>
            </tbody>
        </table>
    </div>
    <br>
    <hr>
    <div>
        <h3 style="padding: 30px;">Pasadas</h3>
        <table class="striped" id="myTable4">
            <thead>
                
                <th>Titulo:</th>
                <th>Precio Regular:</th>
                <th>Precio Oferta:</th>
                <th>Inicio de Oferta:</th>
                <th>Fin de Oferta:</th>
                <th>Limite del Cupon:</th>
                <th>Cantidad:</th>
                <th>Descripcion:</th>
                <th>Estado:</th>
                <th>Codigo de Empresa:</th>
            </thead>

            <tbody>
                <script>
                    printOfertaPasada ();
                </script>
            </tbody>
        </table>
    </div>
    <br>
    <hr>
    <div>
        <h3 style="padding: 30px;">Rechazadas</h3>
        <table class="striped" id="myTable5">
            <thead>
                
                <th>Titulo:</th>
                <th>Precio Regular:</th>
                <th>Precio Oferta:</th>
                <th>Inicio de Oferta:</th>
                <th>Fin de Oferta:</th>
                <th>Limite del Cupon:</th>
                <th>Cantidad:</th>
                <th>Descripcion:</th>
                <th>Estado:</th>
                <th>Codigo de Empresa:</th>
            </thead>

            <tbody>
                <script>
                    printOfertaRechazada ();
                </script>
            </tbody>
        </table>
    </div>
    <br>
    <hr>
    <div>
        <h3 style="padding: 30px;">Descartadas</h3>
        <table class="striped" id="myTable6" >
            <thead>
                
                <th>Titulo:</th>
                <th>Precio Regular:</th>
                <th>Precio Oferta:</th>
                <th>Inicio de Oferta:</th>
                <th>Fin de Oferta:</th>
                <th>Limite del Cupon:</th>
                <th>Cantidad:</th>
                <th>Descripcion:</th>
                <th>Estado:</th>
                <th>Codigo de Empresa:</th>
            </thead>

            <tbody>
                <script>
                    printOfertaDescartada ();
                </script>
            </tbody>
        </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../../../js/materialize.js"></script>

    
</body>
</html>