# Restringe el acceso a las carpetas del pryecto
Options All -Indexes

# Redirecciona a la pagina indicada al encontrarse con el error
ErrorDocument 403 /DSS_LaCuponera/403.php
ErrorDocument 404 /DSS_LaCuponera/404.php

# Permite reescribir las peticiones de URL
RewriteEngine On


# # Si el archivo y la carpeta no existen hacer siguiente reescritura
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# # Redirecciona todas las peticiones a index
RewriteRule ^ index.php [QSA,L]