<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar</title>
</head>
<body>
    <div class="row">
        <h1>Modifica datos de la Empresa</h1>
        <form action="" class="col s12" method="POST">

            <div class="row">
                <div class="input-field col s12">
                    <label for="id">Codigo de Empresa:</label>
                    <input type="text" readonly name="id" id="id" class="validate">
                </div>
                
                <div class="input-field col s6">
                    <label for="name">Nombre de la Empresa:</label>
                    <input type="text" name="name" id="name"  class="validate">
                </div>
    
                <div class="input-field col s6">
                    <label for="direccion">Direccion:</label>
                    <input type="text" name="direccion" id="direccion" class="validate">
                </div>
    
                <div class="input-field col s12">
                    <label for="telefono">Telefono:</label>
                    <input type="telefono" name="telefono" id="telefono" class="validate">
                </div>

                <div class="input-field col s12">
                    <label for="email">Correo:</label>
                    <input type="email" name="email" id="email" class="validate">
                </div>

                <div class="input-field col s12">
                    <label for="comision">Comision:</label>
                    <input type="comision" name="comision" id="comision" class="validate">
                </div>

                <div class="input-field col s12">
                    <label for="rubro">Rubro:</label>
                    <input type="rubro" name="rubro" id="rubro" class="validate">
                </div>
    
                
                
                    <input type="submit" value="Modificar Cliente" class="waves-effect waves-light btn">
            </div>
        </form>
    </div>


</body>
</html>