<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/root-style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="../../../js/clientes.js"></script>
    <title>Clientes</title>
  </head>
  <body>
    <!-- Clientes, Empresas Ofertantates, Rubros, Cerrar Sesion -->
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="Clientes.html">Clientes</a></li>
          <li><a href="../EmpresasOfertantes/EmpresasOfertantes.html">Empresa Ofertantes</a></li>
          <li><a href="../Rubros/Rubros.html">Rubros</a></li>
          <li><a href="">Cerrar Sesion</a></li>
        </ul>
      </div>h
    </nav>
    <h1 style="text-align: center">Información de Clientes</h1>
    <div style="padding: 30px">
      <table class="striped" id="myTable">
        <thead>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>DUI</th>
          <th>Telefono</th>
          <th>Correo</th>
        </thead>

        <tbody>
          <script>
            printClientes();
          </script>
        </tbody>
      </table>
      <br />

      <div></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/materialize.js"></script>
  </body>
</html>
