<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/root-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Clientes</title>
</head>
<body style="padding: 30px;">
    <h1 style="text-align: center;">Información de Clientes</h1>
    <div>
        <table class="striped">
            <thead>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>DUI</th>
                <th>Telefono</th>
                <th>Correo</th>
            </thead>
    
            <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <input type="submit" value="Ver Cupones" class="waves-effect waves-light btn" id="verCupones">
                            </td>
                        </tr>
            </tbody>
        </table>
        <br>

        <div>
           
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/materialize.js"></script>
</body>
</html>