:root {
    /* Definicion de Variables CSS */
    --first-color   : ;
    --second-color  : ;
    --third-color   : ;
    --accent-color  : ;
    --text-color    : ;
    --border-color  : ;

    --title-font    : ;
    --text-font     : ;
    
}

body {

}