<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/root-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Agregar</title>
</head>
<body>
    
    <div class="row" style="padding: 30px;">
        <h1 style="text-align: center;">Ingresa un nuevo Rubro</h1>
        <br>
        <form action="" class="col s12" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <label for="id">Nombre del Rubro:</label>
                    <input type="text" readonly name="id" id="id" class="validate">
                </div>
    
                <div>
                    <input type="submit" value="Registrar Rubro" class="waves-effect waves-light btn">
                </div>
            </div>
        </form>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/materialize.js"></script>
</body>
</html>