<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/root-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Rubros</title>
</head>

<body>
    <h1>Rubros</h1>
    <div>
        <a href="" class="waves-effect waves-light btn" id="agregar">Agregar Rubro</a>
        <table class="striped">
            <thead>
                <th>Codigo de Rubro:</th>
                <th>Nombre de Rubro:</th>
            </thead>

            <tbody>
                <tr>
                    <td></td>
                    <td></td>

                    <td>
                        <form method="POST" action="">
                            <button type="submit" class="waves-effect waves-light btn" id="eliminar">Eliminar</button>
                        </form>
                        <form method="GET" action="">
                            <button type="submit" class="waves-effect waves-light btn" id="modificar">Modificar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/materialize.js"></script>
</body>

</html>